.pink {
  background-color: #fbdfdb;
}

.green {
  background-color: #cef5ea;
}

.light-pink {
  background-color: #fff3f2;
}

.pinkish {
  background-color: #ffe4c3;
}

.rectangle {
  height: 40%;
}

img {
  width: 264px;
  height: 177px;
  object-fit: contain;
  margin-top: 20%;
}
