.rectangle {
  height: 361px;
  background-color: #fbdfdb;
}

.rectangle2 {
  height: 361px;
  background-color: #cef5ea;
}

.rectangle3 {
  height: 361px;
  background-color: #fff3f2;
}

.rectangle4 {
  height: 361px;
  background-color: #ffe4c3;
}
