<section>
  <article>
    <div class="columns is-marginless is-full-width">
      <div class="column is-one-quarter has-text-centered rectangle">
        First column
      </div>
      <div class="column is-one-quarter has-text-centered rectangle2">
        Second column
      </div>
      <div class="column is-one-quarter has-text-centered rectangle3">
        Third column
      </div>
      <div class="column is-one-quarter has-text-centered rectangle4">
        Fourth column
      </div>
    </div>

  </article>

</section>
