<section>
  <article>
    <div class="columns is-marginless is-full-width">
      <div class="column is-one-quarter rectangle pink has-text-centered">
        <img src="./assets/boxes/tortas.svg" class="" alt="cupcakes">
      </div>
      <div class="column is-one-quarter rectangle green has-text-centered">
        <img src="./assets/boxes/cupcakes.svg" alt="cupcakes">
      </div>
      <div class="column is-one-quarter rectangle light-pink has-text-centered">
        <img src="./assets/boxes/cookies.svg" alt="cupcakes">
      </div>
      <div class="column is-one-quarter rectangle pinkish has-text-centered">
        <img src="./assets/boxes/tartas.svg" alt="cupcakes">
      </div>
    </div>
  </article>
</section>
