@import './src/styles.scss';
.card-body-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #7b6b65;
}

.card-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -1.3px;
  color: #715a52;
  font-weight: bold;
}

.is-pink {
  background-color: #fff3f2;
}
