@import './src/styles.scss';
.link-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: -0.4px;
  color: $brown;
}

.tortas {
  margin-left: 20px;
}

.cookies {
  margin-left: 20px;
}

.tartas {
  margin-bottom: 20px;
}

.cupcakes {
  margin-left: 20px;
}

#cookie {
  margin-top: 10px;
}

#tarta {
  margin-top: 15px;
}
