<div class="columns is-paddingless is-marginless">
  <div class="column is-one-quarter has-text-centered is-paddingless">
    <img id="torta" src="./assets/second-navigation/tortas.svg" alt="missing-tortas">
  </div>
  <div class="column is-one-quarter has-text-centered is-paddingless ">
    <img id="cookie" src="./assets/second-navigation/cookies.svg" alt="missing-tortas">
  </div>
  <div class="column is-one-quarter has-text-centered is-paddingless ">
    <img id="cupcake" src="./assets/second-navigation/cupcakes.svg" alt="missing-tortas">
  </div>
  <div class="column is-one-quarter has-text-centered is-paddingless ">
    <img id="tarta" src="./assets/second-navigation/tartas.svg" alt="missing-tortas">
  </div>
</div>
