@import './src/styles.scss';
footer {
  width: 100%;
}

.footer-title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: 0.6px;
  color: #7b6b65;
}

.footer-days {
  line-height: 2;
}
