@import '../../../styles.scss';
.torta-home {
  height: 830px;
  width: 720px;
  float: right;
}

.is-small {
  width: 50%;
}

.padding-margin {
  padding-left: 30px;
  margin-bottom: 172px;
}

.letter-spacing-5 {
  letter-spacing: 5px !important;
}

.home-title {
  font-family: LuloCleanOne;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  color: $brown;
}

.is-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.home-subtitle {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: $light-brown;
}
