<div>
  <section class="is-pulled-right">
    <img src="./assets/torta-home.png" class="torta-home" alt="missing-torta">
  </section>
  <div style="height:110px"></div>

  <section class="section">
    <article class="container is-pulled-left is-small padding-margin">
      <div class="has-text-left">
        <p class="title home-title has-text-weight-bold is-montserrat">ROGEL, </p>
        <p class="subtitle home-title is-montserrat">LA REINA DEL MERENGUE</p>
        <p class="subtitle home-subtitle is-montserrat">
          Este mes, deleitate con la reina del dulce de leche.
          <br> on ingredientes orgánicos de primera calidad como siempre,
          <br> entregado en tu puerta. Gluten free disponible!
        </p>
        <p class="subtitle home-subtitle is-montserrat">
          <span class="has-text-weight-bold">$278</span> Tamaño grande, standard delivery en CABA
        </p>
      </div>
    </article>
  </section>
  <section class="section">
    <article class="container is-pulled-left is-small padding-margin">
      <div>
        <p class="home-subtitle is-montserrat has-text-weight-bold letter-spacing-5 ">MAS DULCES ></p>
      </div>
    </article>
  </section>
</div>
