<section class="section hero-section">
  <article class="container is-full-width">
    <div class="title is-uppercase has-text-centered hero-title">
      POR QUÉ
      <span>MAC</span>,
      <br>POR QUÉ
      <span>ORGÁNICO</span>?
    </div>
    <p class="has-text-centered">
      Para lograr los mejores sabores, se necesitan las mejores materias primas.
      <br> En MAC nos aseguramos que siempre lleguen a tu mesa las tortas y postres más frescos.
      <br> Nuestra meta es que el resultado sea el que tenías en mente,
      <br> por eso podés personalizar todo como gustes.
    </p>
    <div class="has-text-centered">
      <button class="button-bakery" type="button">Mas sobre mi</button>
    </div>
  </article>
</section>
