@import './src/styles.scss';
.hero-section {
  height: 619px;
  background-color: #fafafa;
  padding-top: 80px;
}

.button-bakery {
  width: 275px;
  height: 70px;
  border-radius: 4px;
  background-color: #fbdfdb;
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #7b6b65;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .hero-section {
    padding-top: 150px !important;
  }
}
