@import './src/styles.scss';
.hero-section {
  height: 700px;
  background-color: #fafafa;
  padding-top: 120px;
}

.button-bakery {
  width: 275px;
  height: 70px;
  border-radius: 4px;
  background-color: $light-pink;
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #7b6b65;
  border: none;
}

.hero-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #7b6b65;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .hero-section {
    padding-top: 150px !important;
  }
}

@media screen and (max-width: 800px) {
  .button-bakery {
    margin-top: 30px;
  }
  .hero-section {
    padding-top: 3rem;
  }
}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) {
  .hero-section {
    padding-top: 40px !important;
    height: 700px;
  }
}
