<section class="section hero-section">
  <article class="container is-full-width">
    <div class="title is-uppercase has-text-centered hero-title">
      POR QUÉ
      <span>MAC</span>,
      <br>POR QUÉ
      <span>ORGÁNICO</span>?
    </div>
    <p class="has-text-centered">
      Para lograr los mejores sabores, se necesitan las mejores materias primas. En MAC nos aseguramos que siempre lleguen a tu
      mesa las tortas y postres más frescos. Nuestra meta es que el resultado sea el que tenías en mente, por eso podés personalizar
      todo como gustes.
    </p>
  </article>
</section>
