<div class="columns no-margin is-paddingless">
  <div class="column is-half has-text-centered is-marginless is-paddingless">
    <img id="torta" src="./assets/torta-products.png" class="torta-products" alt="missing-torta">
  </div>
  <div class="column is-half has-padding">
    <div class="title-carrot">
      CARROT
      <br> CAKE
    </div>
    <p class="subtitle-carrot">La clásica receta americana de este budín de zanahoria, con
      <br> una pizca de canela, cubierto con un frosting de queso
      <br> crema dulce y almendras. Pedir con 48 hs de anticipación.
    </p>
    <p class="subtitle-carrot">
      <span class="is-bold">$978 - 12 porciones</span>, standard delivery en CABA
    </p>
    <div class="columns is-30-width">
      <div class="column is-half">
        <span class="cantidad">Cantidad:</span>
        <div class="select has-margintop-10">
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6+</option>
          </select>
        </div>
      </div>
      <div class="column is-half">
        <button class="button-carrito">
          <img src="assets/navbar/shopping-cart.svg" class="padding-left-5" alt="carrito"> SUMAR AL CARRITO
        </button>
      </div>
    </div>
    <div class="share-line">
      <span class="share-text padding-right-30">SHARE</span>
      <img class="padding-right-30" src="assets/navbar/facebook.svg" alt="facebook">

      <img src="assets/navbar/instagram.svg" alt="instagram">
    </div>
  </div>
</div>
