<div class="columns">
  <div class="column is-half has-text-centered  is-paddingless">
    <img id="torta" src="./assets/torta-products.png" class="torta-products" alt="missing-torta">
  </div>
  <div class="column is-half has-padding">
    <div class="title-carrot">
      CARROT
      <br> CAKE
    </div>
    <p class="subtitle-carrot">La clásica receta americana de este budín de zanahoria, con
      <br> una pizca de canela, cubierto con un frosting de queso
      <br> crema dulce y almendras. Pedir con 48 hs de anticipación.
    </p>
    <p class="subtitle-carrot">
      <span class="is-bold">$978 - 12 porciones</span>, standard delivery en CABA
    </p>
    <div>
      <div class="select">
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6+</option>
        </select>
      </div>

      <button class="button-carrito">
        <img src="assets/navbar/shopping-cart.svg" class="padding-left-5" alt="carrito"> SUMAR AL CARRITO
      </button>

    </div>
  </div>
</div>
