@import './src/styles.scss';
.torta-products {
  object-fit: contain;
  margin-bottom: 6px;
}

.title-carrot {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -1.1px;
  color: $brown;
  padding-bottom: 30px;
  padding-top: 30px;
}

.has-padding {
  padding-left: 50px;
}

.subtitle-carrot {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: $brown;
  padding-bottom: 30px;
}

.button-carrito {
  height: 70px;
  border-radius: 4px;
  background-color: $light-pink;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 5px;
  color: $light-brown;
  border: 0px;
  width: 335px;
}

.padding-left-5 {
  padding-right: 15px;
}

.is-30-width {
  width: 30%;
}

.cantidad {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  color: $brown;
}

.has-margintop-10 {
  margin-top: 9px;
}

.share-line {
  padding-top: 20px;
}

.share-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: $brown;
}

.padding-right-30 {
  padding-right: 30px;
}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) {
  .button-carrito {
    width: 290px;
    margin-left: 0rem !important;
  }
  .has-padding {
    padding-left: 15px;
  }
  .has-margintop-10 {
    width: 700px;
  }
  .no-margin {
    margin: 0 !important;
  }
  .share-line {
    padding-top: 30px;
    padding-left: 60px !important;
  }
  .padding-left-5 {
    display: none;
  }
  .cantidad {
    margin-left: 0rem !important;
  }
  .has-margintop-10 {
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 800px) {
  .button-carrito {
    width: 290px;
    margin-left: 3rem;
  }
  .has-padding {
    padding-left: 15px;
  }
  .no-margin {
    margin: 0 !important;
  }
  .share-line {
    padding-top: 30px;
    padding-left: 6rem;
  }
  .padding-left-5 {
    display: none;
  }
  .cantidad {
    margin-left: 9rem;
  }
  .has-margintop-10 {
    margin-left: 9rem;
  }
}
