<section id="home-intro" class="is-full-height">
  <article id="title" class="section-home container is-pulled-left is-small padding-margin separation">
    <div class="has-text-left">
      <h1 class="title home-title has-text-weight-bold is-uppercase">rogel,</h1>
      <p class="subtitle home-title is-uppercase has-text-weight-normal">la reina del
        <br> merengue</p>
    </div>
  </article>
  <img id="torta" src="./assets/torta-home.png" class="torta-home is-full-height is-pulled-right" alt="missing-torta">
  <article id="subtitle" class="section-home container is-pulled-left is-small">
    <div class="has-text-left">
      <p class="subtitle home-subtitle is-montserrat">
        Este mes, deleitate con la reina del dulce de leche.
        <br>con ingredientes orgánicos de primera calidad como siempre,
        <br>entregado en tu puerta. Gluten free disponible!
      </p>
      <p class="subtitle home-subtitle is-montserrat">
        <span class="has-text-weight-bold">$278</span> tamaño grande, standard delivery en CABA
      </p>
    </div>
    <p class="container is-uppercase padding-big">
      <a href="/products">
        <span class="home-link">MAS DULCES
          <i class="right-arrow-pink"></i>
        </span>
      </a>
    </p>
  </article>
</section>
