@import './src/styles.scss';
.torta-home {
  width: 50%;
  object-fit: cover;
}

.is-small {
  width: 50%;
}

.padding-margin {
  padding-top: 3rem;
}

.padding-big {
  padding-top: 9rem;
}

.letter-spacing-5 {
  letter-spacing: 5px !important;
}

.home-title {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0px;
  color: $brown;
}

.separation {
  padding-top: 7rem !important;
}

.is-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.section-home {
  padding-left: 7rem;
  padding-top: 1rem;
}

.home-subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: $light-brown;
}

.home-link {
  height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #7b6b65;
}

.right-arrow-pink {
  border: solid $light-pink;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  #torta {
    float: none !important;
    height: 80% !important;
    width: 100% !important;
  }
  #title,
  #subtitle {
    float: none !important;
    width: 100% !important;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  #home-intro {
    display: inline;
  }
  #title {
    height: 30% !important;
  }
  #subtitle {
    height: 55% !important;
  }
  .padding-margin {
    padding-top: 2rem;
  }
  .separation {
    padding-top: 0 !important;
  }
  .section-home {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 1rem !important;
  }
  .padding-big {
    padding-top: 2rem;
  }
}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) {
  #title {
    height: 50% !important;
  }
  #subtitle {
    height: 75% !important;
  }
  .padding-big {
    padding-top: 3rem;
  }
  .section-home {
    padding-left: 1.5rem !important;
  }
  .separation {
    padding-top: 1rem !important;
  }
}
