<section>
  <article class="container is-pulled-left is-small padding-margin">
    <div class="has-text-left">
      <h1 class="title home-title has-text-weight-bold is-uppercase has-text-centered">rogel,</h1>
      <p class="subtitle home-title is-uppercase has-text-weight-normal has-text-centered">la reina del
        <br> merengue</p>
    </div>
  </article>
  <img src="./assets/torta-home.png" class="torta-home is-pulled-right" alt="missing-torta">
  <article class="container is-pulled-left is-small padding-margin">
    <div class="has-text-left">
      <p class="subtitle home-subtitle is-montserrat has-text-centered">
        Este mes, deleitate con la reina del dulce de leche.
        <br>con ingredientes orgánicos de primera calidad como siempre,
        <br>entregado en tu puerta. Gluten free disponible!
      </p>
      <p class="subtitle home-subtitle is-montserrat has-text-centered">
        <span class="has-text-weight-bold">$278</span> tamaño grande, standard delivery en CABA
      </p>
    </div>
    <p class="home-subtitle is-montserrat letter-spacing-5 has-text-centered is-uppercase">
      <span class="has-text-weight-bold">
        mas dulces >
      </span>
    </p>
  </article>
</section>
