<section class="panel-section">
  <article class="panel-container is-full-width">
    <div class="title panel-title">
      <span class="is-bold">10</span>
      <br>
      <span>AÑOS</span>
    </div>
    <p class="panel-text">acercando dulce felicidad a
      <br> mis queridos cientes
    </p>
    <div class="title panel-title">
      <span class="is-bold">12.000</span>
      <br>
      <span>TORTAS</span>
    </div>
    <p class="panel-text">terminadas en mi cocina,
      <br> en mi casa cumpliendo mi sueño
    </p>
    <div class="title panel-title">
      <span class="is-bold">24.000 KM</span>
      <br>
      <span>EN VIAJES</span>
    </div>
    <p class="panel-text">llevando puerta a puerta
      <br> a cada cumpleaños o reunión
    </p>
  </article>
</section>
