<section class="section">
  <article class="has-text-centered">
    <p class="contact-section-title">HOLA
      <span class="is-bold">MARCE!</span>
    </p>
    <p class="contact-form-text">Soy
      <input class="contact-input" type="text" placeholder="tu nombre"> , y te queria preguntar</p>
    <input class="contact-input big" type="text" placeholder="tu mensaje">
    <p class="contact-form-text">me podés responder al mail
      <input class="contact-input" type="email" placeholder="tu email">
    </p>
    <p class="contact-form-text">o por teléfono al
      <input class="contact-input" type="text" placeholder="tu teléfono"> Gracias!
    </p>
    <button class="button-bakery is-red" (click)="sendMessage()" type="button">ENVIAR MENSAJE</button>
    <app-notification-modal title="{{modalTitle}}" text="{{modalText}}" isActive="{{isModalActive}}"></app-notification-modal>
  </article>
</section>
<div class="columns contact-level">
  <div class="column is-one-third has-text-centered padding-top contact-level-text">
    marancon@macpasteleria.com
  </div>
  <div class="column is-one-third has-text-centered padding-top contact-level-text">
    1561111111 | 47854422
  </div>
  <div class="column is-one-third has-text-centered padding-top-less contact-level-text">
    Blanco encalada 1754
    <br> Belgrano C, CABA (1017)
  </div>
</div>
