@import './src/styles.scss';
.hero-section {
  height: 619px;
  background-color: #fff3f2;
  padding-top: 120px;
}

.button-bakery {
  width: 275px;
  height: 70px;
  border-radius: 4px;
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 5px;
  color: $light-brown;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

.is-red {
  background-color: $light-pink;
}

.is-green {
  background-color: $light-green;
}

.contact-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #7b6b65;
}

.not-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .hero-section {
    padding-top: 30px;
  }
  .button-bakery {
    margin-left: 0px;
  }
  .not-mobile {
    display: block;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .hero-section {
    padding-top: 150px !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hero-section {
    padding-top: 150px !important;
  }
}
