<section class="section hero-section">
  <article class="container is-full-width">
    <div class="title is-uppercase has-text-centered hero-title">
      BUSCANDO UN DÍA DULCE?
      <br>
      <span class="is-bold">PUEDO AYUDARTE</span>
    </div>
    <p class="has-text-centered contact-text">
      Escribime o llamame, no te quedes con dudas!
      <br>Tu consulta no molesta, me encantaría ayudarte.
    </p>
    <div class="has-text-centered">
      <a href="/contact">
        <button class="button-bakery is-green" type="button">ESCRIBIME</button>
      </a>

      <button class="button-bakery is-red" type="button">TEL: 47854422</button>
    </div>
  </article>
</section>
