.history-background {
  background-image: url('../../../../assets/history-background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.history-panel {
  height: 100%;
  width: 30%;
  margin-left: 30px;
  background-color: #ffffff;
  padding-top: 0px;
}

@media screen and (max-width: 800px) {
  .history-panel {
    width: 75%;
    margin-left: 0px;
  }
}
