<section class="columns no-margin">
  <article class="column is-half is-paddingless">
    <img id="kitchen" src="./assets/about-kitchen.jpg" alt="missing-kitchen">
  </article>
  <article class="column is-half has-some-padding">
    <div class="has-text-justified">
      <div class="about-title">
        <span>SOY</span>
        <br>
        <span class="is-bold">MARCELA</span>
        <br>
        <span class="is-bold">CONFORTI,</span>
        <br>
        <span class="is-pink">PASTELERA</span>
      </div>
      <p class="about-explanation">
        Siempre tuve pasión por la cocina, y MAC es mi sueño
        <br> hecho realidad. Tuve la suerte de estudiar mi pasión en
        <br> la escuela de pastelería de Mausi Sebess, en Buenos
        <br> Aires y encargarme de los pasteles de reconocidas
        <br> confiterías como Pinamar, Solar entre otras y realizar
        <br> cumpleaños temáticos para cientos de chicos.
        <br>
        <br> Gracias por confiar en mi para tus dulces!
      </p>
      <span class="about-link">VER DULCES
        <i class="right-arrow-pink"></i>
      </span>
    </div>
  </article>
</section>
