<footer class="footer">
  <div class="container columns">
    <div class="column is-one-third margin-left">
      <p class="footer-title">
        <span class="is-uppercase is-bold">MAC PASTELERIA</span>
        <br>
        <span>de Marcela Conforti</span>
      </p>
      <br>
      <div class="footer-days footer-title">
        <br>
        <p>
          <span class="is-bold">
            Email:
          </span>
          marancon@macpasteleria.com
        </p>

        Lunes a Viernes 10 a 19 hs
        <br> Sábados 10 a 14 hs
        <br> Domingos Cerrado
      </div>
    </div>
    <div class="column is-one-third">
      <p class="footer-title">
        <span class="is-bold">Preguntas frecuentes</span>
        <br>
        <br>
        <br> Puedo retirar a domicilio?
        <i class="right-arrow"></i>
        <br> Hacen tortas para celíacos?
        <i class="right-arrow"></i>
        <br> Tortas para diabéticos?
        <i class="right-arrow"></i>
        <br> Productos en cantidades?
        <i class="right-arrow"></i>
        <br> Entregas fuera de CABA?
        <i class="right-arrow"></i>
        <br>
    </div>
    <div class="column is-one-third">
      <p class="footer-title">
        <span class="is-bold">
          Recibí las ofertas en tu mail.
          <p>10% de descuento!</p>
        </span>
        <div class="is-inline-flex">
          <input type="email" class="footer-email" placeholder="tumail@aqui.com" id="email-sender">
          <button class="footer-email-button" (click)="subscribe()">
            <i class="right-arrow-brown"></i>
          </button>
        </div>

    </div>
  </div>
  <br>
  <div class="footer-title">
    <span class="is-bold">Mac Pasteleria</span> Todos los derechos reservados. Copyright 2018
  </div>
  <app-notification-modal title="{{modalTitle}}" text="{{modalText}}" isActive="{{isModalActive}}"></app-notification-modal>
</footer>
